@model IEnumerable<QAForum.Models.Thread>

<p>
    @Html.ActionLink("Create New", "Create", "Thread")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ForumID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ForumID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreadTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Thread", new { id=item.ThreadID }, null) |
            @Html.ActionLink("Details", "Details", "Thread", new { id=item.ThreadID }, null) |
            @Html.ActionLink("Delete", "Delete", "Thread", new { id=item.ThreadID }, null)
        </td>
    </tr>
}

</table>
